<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-light">
    <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">RC Cloud | Termine</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link" routerLink="races" routerLinkActive="active">Deutschland</a></li>
    <li class="nav-item"><a href="#" class="nav-link" routerLink="clubs" routerLinkActive="active">Clubs</a></li>
    <li class="nav-item"><a href="#" class="nav-link" routerLink="benelux" routerLinkActive="active">BeNeLux</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
