.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-pills .nav-link.active {
  background-color: #6c757d;
}

.nav-pills .nav-link:not(.active):hover {
  color: #adb5bd;
}