@let columnsToDisplay = ['date', 'location', 'groups'];

<table mat-table [dataSource]="getAllMeetings()">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let meeting"> {{meeting.date}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let meeting"> {{meeting.location}} </td>
  </ng-container>

  <ng-container matColumnDef="groups">
    <th mat-header-cell *matHeaderCellDef> Groups </th>
    <td mat-cell *matCellDef="let meeting">
      @for (group of meeting.groups; track group.id) {
      <mat-chip>{{group.id}}</mat-chip>
    } </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
