<div class="page-container">
  <ngb-alert [dismissible]="false">
    <strong>Letztes Update</strong> {{ getRetrieved() }}
  </ngb-alert>

  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Keine Region</th>
        <th scope="col">Mitte</th>
        <th scope="col">Nord</th>
        <th scope="col">Süd</th>
        <th scope="col">West</th>
        <th scope="col">Ost</th>
      </tr>
    </thead>
    <tbody>
      @for (upcomingDate of getAllDates(); track upcomingDate.date) {
        <tr>
          <th scope="row">{{ upcomingDate.date }}</th>

          @for (regionId of ['global', 'central', 'north', 'south', 'west', 'east']; track  regionId) {
            <td>
              @for (race of getRaces(upcomingDate, regionId); track race.location) {
                <div class="meeting-box">
                  <div class="title">{{ race.title }}</div>
                  {{ race.location }}
                  @for (series of race.series; track series) {
                    <span class="badge-source">{{ series }}</span>
                  }
                  <div *ngIf="race.source" class="source">Quelle: {{ race.source }}</div>
                </div>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
