@use 'bootstrap';

.page-container {
  margin-left: 20px;
  margin-right: 20px;

  table {
    td {
      padding: 0.5em;
      max-width: 150px;
    }
  }

  .meeting-box {
    @extend .mb-2;
    width: 100%;
    overflow: clip;

    .title {
      @extend .fs-5;
    }

    .badge-source {
      @extend .badge;
      @extend .text-bg-primary;
      @extend .me-1;
    }

    .source {
      @extend .text-secondary;
    }
  }
}
