name: "Build SWA"

env:
  APP_LOCATION: "frontend/dist/frontend/browser" # location of your client code
  API_LOCATION: "backend/RcCloud.FunctionApi/bin/Debug/net9.0" # location of your client code

on:
  push:
    branches:
      - 'main'
    paths:
      - 'backend/**'
      - 'frontend/**'

  pull_request:
    paths:
      - 'backend/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install frontend dependencies
        run: npm install
        working-directory: frontend

      - name: Build frontend
        run: npm run build:prod
        working-directory: frontend

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Build backend
        run: dotnet build
        working-directory: backend/RcCloud.FunctionApi

      - name: Test DMC
        run: dotnet test
        working-directory: backend/RcCloud.DateScraper.Application.Dmc.Tests

      - name: Test Myrcm
        run: dotnet test
        working-directory: backend/RcCloud.DateScraper.Application.Myrcm.Tests

      - name: Test Rcco
        run: dotnet test
        working-directory: backend/RcCloud.DateScraper.Application.Rcco.Tests

      - name: Test RCK
        run: dotnet test
        working-directory: backend/RcCloud.DateScraper.Application.Rck.Tests

      - name: Test Tamiya
        run: dotnet test
        working-directory: backend/RcCloud.DateScraper.Application.Tamiya.Tests

      - name: Deploy frontend and backend
        if: github.event_name != 'pull_request'
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: ${{ env.APP_LOCATION }}
          api_location: ${{ env.API_LOCATION }}
          skip_api_build: true
          skip_app_build: true

