name: "Build GitHub pages"

on:
  push:
    branches:
      - 'main'
    paths:
      - 'frontend/**'
  workflow_run:
    workflows: ["Update races"]
    types:
      - completed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build job
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend

      - name: Deploy to Github pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run ng -- deploy --repo="https://github.com/stefanteitge/rc-cloud-datescraper.git" --base-href=/rc-cloud-datescraper/ --name=stefanteitge --email=stefan.teitge@gmail.com
        working-directory: frontend
