name: "Updates dates"
on:
  push:
    branches:
      - main
    paths:
    - 'backend/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "9.0.x"
    - name: Test
      run: dotnet test
      working-directory: backend
    - name: Json
      run: dotnet run json
      working-directory: backend/RcCloud.DateScraper.Cli
    - name: Copy
      run: cp all.json ../../frontend/public/assets
      working-directory: backend/RcCloud.DateScraper.Cli
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: New dates
