name: "Update races"
on:
  #push:
  #  branches:
  #    - main
  #  paths:
  #  - 'backend/**'
  schedule:
    - cron: "0 8 * * *" # every day

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "9.0.x"
    - name: Test
      run: dotnet test
      working-directory: backend
    - name: All Json
      run: dotnet run germany --format json --club-db ../../db/club-db.json
      working-directory: backend/RcCloud.DateScraper.Cli
    - name: BeNeLux Json
      run: dotnet run benelux --format json
      working-directory: backend/RcCloud.DateScraper.Cli
    - name: Move
      run: mv germany.json ../../frontend/public/assets
      working-directory: backend/RcCloud.DateScraper.Cli
    - name: Move
      run: mv benelux.json ../../frontend/public/assets
      working-directory: backend/RcCloud.DateScraper.Cli
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: New dates
    - name: Make Request
      uses: fjogeleit/http-request-action@v1
      with:
        url: "https://rc-cloud.de/api/update-germany"
        timeout: 30000
    - name: Make Request
      uses: fjogeleit/http-request-action@v1
      with:
        url: "https://rc-cloud.de/api/update-benelux"
        timeout: 30000
